h1,
h2,
h4 {
	font-family: "Playfair Display", serif;
}

h1 {
	font-size: 1.8em;
	margin-top: 1em;
	margin-bottom: 1em;
	color: $primary;
}

h5 {
	font-family: "lato", sans-serif;
	color: $navbar-light-color;
}
